header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ======================= CTA ======================= */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======================= HEADER SOCIALS ======================= */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======================= ME ======================= */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0 1.2rem 1.2rem 1.2rem;
}

/* ======================= SCROLL DOWN ======================= */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ======================= SWITCH LANGUAGE ======================= */
.switch__language {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 10;
    user-select: none;
}

.lang-flag {
    width: 26px;
    height: auto;
    opacity: 0.6;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    filter: drop-shadow(0 0 1px #00000066);
}

.lang-flag.active {
    opacity: 1;
    transform: scale(1.05);
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    border-radius: 34px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: var(--color-primary);
}

.switch input:checked + .slider::before {
    transform: translateX(20px);
}

/* ======================= MEDIA QUERIES ======================= */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .switch__language {
        left: 50%;
        transform: translateX(-50%);
        top: 1rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .switch__language {
        gap: 1rem;
        left: 50%;
        transform: translateX(-50%);
        top: 1rem;
    }
}
